:root {
    --accent: #008b8b;
    --sans-font: helvetica, arial, freesans, sans-serif;
}

.post-info time span {
    color: #a8a8a8;
}

.post-info h2 {
    margin-bottom: 0;
}

mjx-container.MathJax {
    overflow-x: scroll;
}