<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8">
<title>{{ site.title }} :: {{ page.title }}</title>
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<link rel="stylesheet" href="/public/css/styles.css">
<link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.title }}" href="{{ site.base_url }}/rss.xml" />